{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="_container">
        <div class="cart_page">
            <ul class="cart">
                <div class="cart_goods">
                    <div class="font-600-24 cart_goods_text">Ваш заказ:</div>
                    <div class="cart_line"></div>
                    <div class="cart_table">
                        {% for item in cart %}
                            {% with product=item.product %}
                                <ul class="cart_table_columns">
                                    <li class="cart_img">
                                        {% for image in product.images.all %}
                                            {% if image.default %}
                                                <a href="{% url 'product_detail' product.slug %}"> <img src="{{ image.image.url }}"></a>
                                            {% endif %}
                                        {% endfor %}
                                    </li>
                                    <li class="cart_name">
                                        <div class="font-400-16-black">{{ item.product.name }}</div>
                                        <div class="font-400-12">Размер: {{ item.size }}</div>
                                    </li>
                                    <li class="cart_update_delete">
                                        <div class="cart_update">
                                            <form action="{% url 'cart:cart_update' product.id item.size %}" method="post">
                                                <div class="number-input">
                                                  <button class="_icon-circle_minus" onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                                                    {{ item.update_quantity_form.quantity }}
                                                    {{ item.update_quantity_form.update }}
                                                  <button class="_icon-circle_plus" onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                                                </div>
                                                {% csrf_token %}
                                            </form>
                                        </div>
                                        <div class="cart_total_price">{{ item.total_price }} BYN</div>
                                        <div class="cart_delete">
                                            <a class="_icon-circle_remove" href="{% url 'cart:cart_remove' product.id item.size %}"></a>
                                        </div>
                                    </li>
                                </ul>
                            {% endwith %}
                        {% endfor %}
                        </tbody>
                    </div>
                    <div class="cart_line"></div>
                    <div class="font-400-16-black cart_sum">Сумма: {{ cart.get_total_price }} BYN</div>
                </div>
                <div class="form_cart">
                    <div class="font-500-18 cart_form_text">Введите данные получателя</div>
                    <form action="{% url "orders:order_create" %}" method="post" id="cart_form">
                        {% csrf_token %}
                        <div class="cart_text ">Получатель (ФИО полностью)</div>
                        {{ cart_form.first_name }}
                        <div class="cart_text ">Номер телефона</div>
                        {{ cart_form.phoneNumber }}
                        <div class="form-error">{{ cart_form.phoneNumber.errors }}</div>
                        <div type="email" class="cart_text ">Email</div>
                        {{ cart_form.email }}
                        <div class="form-error">{{ cart_form.email.errors }}</div>
                        <div class="left font-500-18">Доставка</div>
                        {{ cart_form.city }}
                        <br>
                        <div>
                            <div class="font-400-12-black cart_choices">
                                {% for delivery in cart_form.delivery.field.choices %}
                                    <ul>
                                        <div>
                                            <input type="radio" name="delivery" value="{{delivery.0}}">
                                        </div>
                                        <div class="choices">
                                            {{ delivery.1 }}
                                        </div>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-error">{{ cart_form.delivery.errors }}</div>
                        <div class="cart_text ">Адрес</div>
                        {{ cart_form.address }}
                        <div class="cart_text ">Комментарий</div>
                        {{ cart_form.comment }}
                        <div class="left font-500-18">Способ оплаты</div>
                        <div>
                            <div class="font-400-12-black cart_choices">
                                {% for choice in cart_form.paymentMethod.field.choices %}
                                    <ul>
                                        <div>
                                            <input type="radio" name="paymentMethod" value="{{choice.0}}">
                                        </div>
                                        <div class="choices">
                                            {{ choice.1 }}
                                        </div>
                                    </ul>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="form-error">{{ cart_form.paymentMethod.errors }}</div>
                        <div class="cart_result">
                            <div class="font-500-20 cart_sum">
                                Итоговая сумма: {{ cart.get_total_price }} BYN
                            </div>
                            <input class="button_order font-400-16-white" type="submit" value="Заказать">
                        </div>
                    </form>
                    <a href="{% url 'information' 'privacy_policy' %}" class="font-400-12 card_text_center">Политика конфиденциальности</a>
                </div>
            </ul>
        </div>
        <a class="popup-link" href="#popup_created"></a>
        <div id="popup_created" class="popup">
            <a href="#header" class="popup_close close-popup _icon-cross">
            </a>
            <div class="popup_body">
                <div class="popup_content">
                    <div class="popup_text">
                        <div class="success">
                            <div class="success_text">
                                Ваша заявка принята!
                                <br>
                                Благодарим за заказ!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}