@import "necolas.github.io_normalize.css_8.0.1_normalize.css";
@import "fonts.css";
@import "default.css";

.wrapper {
    min-height: 100%;
    overflow: hidden;
}
/*___________________Общие_______________________________________*/
._container {
    box-sizing:border-box;
    max-width: 1200px;
    padding: 0 41px;
    margin: 0 auto;
}
input[type='radio']:checked::after {
  background-color: black;
}
input[type="submit" i] {
    border-width: 0;
}
input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
ul {
    display:flex;
}
.title {
    width: 100%;
    text-align: center;
    height: 115px;
    padding-top: 160px;
}
.shop_button {
    background: #8891A8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    -webkit-appearance: button;
    text-align: center;
    color: #ffffff;
    padding: 8px 20px;
    display: flex;
    width: 232px;
    justify-content: center;
    gap: 8px;
    margin:0 auto;
}
.shop_button:hover, .button_order:hover, .card_button:hover, .button_footer:hover, .item-catalog-cards_button:hover {
    background-color: #656C81;
}
.shop_button:focus, .button_order:focus, .card_button:focus, .button_footer:focus .item-catalog-cards_button:focus {
    background-color: #8F8F8FA6;
}
.rectangle {
    width: 88px;
    height: 2px;
    border-radius: 100px;
    background: #1E1E1E;
    margin: 10px auto 40px;
}
.heart {
    margin-left: -50px;
    margin-top: 10px;
}
.arrow {
    padding-left: 9px;
    margin-top: 3px;
}
.arrow:hover i:before {
    text-decoration: none;
    color: #8891A8;
}
.arrow:hover i:focus {
    text-decoration: none;
    color: #8891A8;
}
svg.circle {
  background: #8891A8;
  clip-path: circle(50%);
  height: 96px;
  width: 96px;
}
.transparent_button {
    padding-bottom: 100px;
}
.circle {
  background: white;
  clip-path: circle(50%);
  height: 36px;
  width: 36px;
}
.popular_heart i:before {
    position: relative;
    top: -27px;
}
.card_heart i:before {
    position: relative;
    top: 0;
    left: 0;
}
.card_popular:hover {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}
.card_popular:focus {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}
.main_photo:hover {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}
.main_photo:focus {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}
.card_detail_icon:hover i:before {
    text-decoration: none;
    color: #8891A8;
}
/*__________________________________________Шрифты______________________________________________*/
.font-500-18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #1E1E1E;
}
.font-500-18-grey {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #1E1E1EA6;
}
.font-500-20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #1E1E1E;
}
.font-500-24 {
    color: #1E1E1E;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.font-400-12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.4px;
    color: #1E1E1EA6;
}
.font-400-12-black {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.4px;
    color: #1E1E1E;
}
.font-400-14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1E1E1EA6;
}
.font-400-14-black {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1E1E1E;
}
.font-400-16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: #1E1E1EA6;
}
.font-400-16-black {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    color: #1E1E1E;
}
.font-400-16-white {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}
.font-400-18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.3px;
}
.font-400-18-grey {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.3px;
    color: #1E1E1EA6;
}
.font-400-44 {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
}
.font-600-24 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #1E1E1E;
    align-self: stretch;
}
/*___________________ШАПКА_______________________________________*/
header {
    background-color: #EEF0F5;
    background-size: 100%;
    min-width: 100%;
    min-height: 80px;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EEF0F5;
    z-index: 2;
}
.menu_list li {
    list-style: none;
    position: relative;
}
.menu_list {
    position: relative;
    display: flex;
    /*z-index: 2;*/
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: #EEF0F5;
}
.menu_list>li {
    display: flex;
}
.menu_link {
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.header_menu {

}
.header_list {
    display: flex;
    position: relative;
    z-index: 3;
}
.header_list>li {
    display: flex;
    list-style: none;
}
.header_list>li:hover {
    color: #1E1E1E;
}
.header_list>li:focus {
    color: #1E1E1E;
}
.header_link {
    color: #1E1E1EA6;
    position: relative;
    margin-bottom: 2px;
}
.menu_item a:hover {
    color: #1E1E1E;
}
.menu .menu_logo a:hover i:before {
    text-decoration: none;
    color: #8891A8;
}
.menu .menu_logo a:focus i:before {
    text-decoration: none;
    color: #8891A8;
}
.sub-header_list {
    min-width: 219px;
    display: none;
    position: absolute;
    left: 0;
    top: 20px;
    padding: 22px 0 0 28.5px;
}
.sub-header_list>li {
    background-color: #EEF0F5;
}
.sub-header_link {
    color: #1E1E1EA6;
    display: inline-block;
    padding: 0 20px 15px 20px;
}
.menu_logo {
    min-width: 103px;
    height: 36px;
    left: 0;
}
.menu_logo a {
    padding-top: 10px;
    text-align: center;
}
.menu_item {
    max-width: 544px;
    padding: 0 0 0 48px;
}
.menu_cart_favourites {
    max-width: 287px;
    right: 0;
    gap: 38px;
}
.menu_cart_favourites a:hover i:before {
    text-decoration: none;
    color: #8891A8;
}
.menu_cart_favourites a:focus i:before {
    text-decoration: none;
    color: #8891A8;
}
.menu_cart_favourites .menu_heart {
    padding-top: 6px;
}
.menu_cart_favourites .menu_cart {
    padding-top: 3px;
}
.menu_cart_favourites img {
    min-width: 24px;
}
.menu_cart span{
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #8891A8;
    font-size: 8px;
    border-radius: 50%;
    display: flex;
    top: 0;
    right: 0;
    justify-content: center;
    align-items: center;

}
.menu_arrow {
    display: none;
    margin: 5px 0 0 10px;
    width: 0;
    height: 0;
    border-top: 7px solid #1E1E1EA1;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}
.header_link.active .menu_arrow {
    transform: rotate(-180deg);
}
.header_burger {
    display: none;
}
body.mouse .header_list>li:hover .sub-header_list {
    display: block;
}
body.touch .sub-header_list.open {
    background-color: #FFFFFF;
    display: block;
    position: relative;
    left: -220px;
    top: 20px;
}
body.touch .submenu {
    background-color: #FFFFFF;
}
body.touch .menu_arrow {
    display: block;
}
body.touch .header_link {
    color: #1E1E1E;
}
.menu_item>a {
    display: flex;
}
.menu_item>a.header_link.active {
    min-width: 185px;
}
/*_______________________Главная страница(home.html)_________________________________________*/
.main {
    padding-top: 180px;
    width: 100%;
    height: 610px;
}
.main_text {
    display: flex;
    padding: 0px 0px 70px 0px;
}
.main_phrase {
    height: 140px;
    width: 59%;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -2.4px;
    text-align: left;
    padding: 0;
}
.main_phrase_rectangle {
    border-right: 2px rgba(30, 30, 30, 0.65) solid;
}
.main_phrase_two {
    width: 41%;
    text-align: center;
}
.main_phrase_two_text {
    padding:20px 0 10px 0;
}
.main_photo {
    height: 400px;
    overflow: hidden;
}
.main_photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 30% 20%;
}

.icons-3 {
    padding-top: 120px;
    width: 100%;
    display:flex;
    gap: 10px;
}
.icons-3-characteristics {
    display:flex;
    width: 33%;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;
}
.icons-3_circle {
    height: 96px;
}
.icons-3_text {
    height: 44px;
}

.main_category {
    padding-top: 116px;
    width: 100%;
    height: 869px;
}
.main_category_text {
    width: 100%;
    height: 869px;
    text-align: center;
    gap: 10px;
}
.text_center {
    max-width: 368px;
    padding-top: 30px;
    position: relative;
    top: 613px;
    margin: 0 auto;
}
.main_category_carts {
    width: 100%;
    height: 727px;
    margin: -695px 0 0 -41px;
    background: #EEF0F5;
    padding: 48px 40px 0 41px;
}
.cat_1, .cat_3 {
    margin-top: -98px;
}
.cat_photo {
    height: 460px;
    overflow: hidden;
    padding: 0 10px 10px 0;
}
.cat_photo img:hover {
    box-shadow: 4px 4px 6px 4px #1E1E1E40;
}
.cat_photo img:focus {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}
.cat_photo img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.name_category {
    display: inline-block;
    height: 25px;
    width: 100%;
}
.name {
    display: inline-block;
    width: auto;
    padding-left: 34%;
}
.name:hover {
    color: #8891A8;
}
.name:focus {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}


.popular {
    padding: 200px 0 120px 0;
    display: table;
    width: 100%;
    height: 417px;
}
.popular_text {
    width: 100%;
    margin: 0  0 218px 0;
    padding-right: 10px;
}
.popular_title {
    text-align: center;
}
.cards {
    display: flex;
    max-width: 100%
}
.card {
    width: 272px;
    overflow: hidden;
}
.card_goods {
    width: 100%;
    padding: 30px 0 180px 0;
}
.card img {
    width: 272px;
    height: 341px;
    object-fit: cover;
    object-position: 30% 20%;
}
.name_arrow {
    display: flex;
}
.popular_button.text_center {
    display: none;
}
.card_popular {
    width: 272px;
    margin-right: 10px;
}
/*______________________Карточка товара(product_detail.html)__________________*/
.card_detail {
    padding-top: 120px;
}
/*___Лента слайдов___ */
.slick-track{
    display: flex;
    align-items: flex-start;
}
.photo_card_flipping {
    height: 550px;
    padding-right: 104px;
    width: 460px;
    position: relative;
    overflow: hidden;
}
.photo_card_flipping img {
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%;

}
.photo_card_flipping .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 20px;
    height: 21px;
}
.photo_card_flipping .slick-arrow.slick-prev{
    left: 25px;
    background: white url("../image/chevron_left.png") 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    border: #FFFFFF ;
    border-radius: 50%
}
.photo_card_flipping .slick-arrow.slick-next{
    right: 124px;
    background: white url("../image/chevron_right.png") 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    border: #FFFFFF ;
    border-radius: 50%
}
.photo_card_flipping .slick-disabled {
    opacity: 0.2;
}
/*______________________*/
.card_table_sizes {
    width: 555px;
    height: 20px;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.4px;
    text-decoration-line: underline;
    padding-bottom: 30px;
    padding-top: 10px;
}
.card_rectangle {
    width: 555px;
    height: 1px;
    background: rgba(30, 30, 30, 0.20);
}
.card_detail_goods {
    width: 554px;
}
.card_detail_goods .text_card_cat {
    text-align: left;
}

.card_padding_bottom {
    padding-bottom: 30px;
}
.number-input {
  display: inline-flex;
}
.number-input,
.number-input * {
  box-sizing: border-box;
}
.number-input input[type=number] {
    max-width: 32px;
    padding: 0 5px 5px 5px;
    border: solid #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    text-align: center;
}
.number-input-card {
    padding: 12px 10px 12px 13px;
}

.number-input-card,
.number-input-card * {
    box-sizing: border-box;
}
.number-input-card input[type=number] {
    width: 192px;
    border: #EFF2F6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.3px;
    height: 26px;
    text-align: center;
    background-color: #EFF2F6;
}
#id_sizes {
    width: 273px;
    height: 50px;
    flex-shrink: 0;
    border: 2px solid rgba(30, 30, 30, 0.20);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.3px;
    color: #1E1E1E;
    padding: 12px 10px;
}
.card_form {
    gap: 9.5px;
}
.text_card_cat {
    padding-bottom: 20px;
}
.text_card_description {
    padding-bottom: 30px;
}
.card_price_button {
    gap: 20px;
}
.card_form_label .card_label {
    text-align: left;
    padding-bottom: 9px;
}
.card_button {
    display: flex;
    width: 224px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #8891A8;
    color: #FFFFFF;
}
.card_price {
    width: 263px;
}
.card_favourites {
    width: 25px;
    padding-top: 13.5px;
}
.card_favourites .card_heart:hover i:before {
    text-decoration: none;
    color: #1E1E1E;
}
.card_favourites .card_heart:focus i:before {
    text-decoration: none;
    color: #1E1E1E;
}
.card-quantity {
    width: 272px;
    height: 50px;
    flex-shrink: 0;
    background-color: #EFF2F6;
}
/*_____________________(product_index.html)_______________________*/
.page_main-block {
    padding-top: 160px;
}
.main-block_title {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: #1E1E1E;
}
.main-block_rectangle {
    width: 88px;
    height: 2px;
    border-radius: 100px;
    background: #1E1E1E;
    margin: 10px auto 20px;
}
.main-block_phrase {
    display: none;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    color: #1E1E1EA6;
}
.catalog-cards_container {
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(272px, 1fr));
}
.item-catalog-cards {
    position: relative;
    margin: 20px 11px 40px 0;
    width: 272px;
}
.item-catalog-cards:focus {
    box-shadow: 0px 4px 6px 0 #1E1E1E40;
}
.item-catalog-cards:hover {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}
.item-catalog-cards_body {
    width: 272px;
}
.item-catalog-cards_img {
    width: 272px;
    height: 331px;
    overflow: hidden;
    margin:0 auto;
}
.item-catalog-cards_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.item-catalog-cards_name {
    margin:0 auto 10px;
    width: 272px;
    height: 50px;
}
.item-catalog-cards_price {
    margin:0 auto 20px;
    text-align: center;
}
.item-catalog-cards_button {
    margin: 0 auto;
    display: flex;
    width: 232px;
    padding: 8px 20px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    color: #FFFFFF;
    background: #8891A8;
}
.item-catalog-cards_body:focus {
    box-shadow: 0px 4px 6px 0 #1E1E1E40;
}
.item-catalog-cards_body:hover {
    box-shadow: 0 4px 6px 0 #1E1E1E40;
}
/*___________________________________________________________________*/
.button_flipping_left {
    padding:0 354px 0 21px;

}
.button_flipping {
    margin-top: -211px;
    padding-bottom: 397px;
}
.price {
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
.name_product {
    text-align: center;
    width: 100%;
    height: 50px;
    padding-top: 20px;
}
.bottom_indent_20 {
    padding-bottom: 20px;
}
.button_transparent {
    display: flex;
    width: 150px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid #1E1E1E;
    margin: 0 auto;
}
.button_transparent:hover {
    background-color: #8891A8;
    color: #FFFFFF;
    border: 1px solid #8891A8;
    /*box-shadow: 3px 3px 1px #8891A8;*/
}
.button_transparent:focus {
    background-color: #656C81;
    color: #FFFFFF;
    border: 1px solid #656C81;
    /*box-shadow: 3px 3px 1px #8891A8;*/
}
a.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #1E1E1EA6;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/*______________________________(information.html)______________________*/
.information {
    padding-bottom: 100px;
}
.information_text {
    width: 742px;
    text-align: left;
    color: rgba(30, 30, 30, 0.65);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-top: 90px;
}
.contacts_information {
    display: flex;
    width: 100%;
}
.contacts_information .information_contacts a:hover i:before {
    text-decoration: none;
    color: #8891A8;
}
.contacts_information .information_contacts a:focus i:before {
    text-decoration: none;
    color: #8891A8;
}
.information_contacts {
    position: relative;
    padding: 20px 9px 20px 94px;
    width: 461px;
    height: 262px;
}

.information_contacts_text {
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    color: #1E1E1E;
    width: 461px;
    height: 55px;
}
.information_contacts_image {
    width: 460px;
    height: 300px;
}
.information_about_text {
    width: 721px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #1E1E1EA6;
    padding: 68px 73px 55px 0;
}
.information_about_image {
    width: 397px;
    height: 475px;
    flex-shrink: 0;
}
.information_delivery_text {
    width: 732px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1E1E1EA6;
    padding: 100px 10px 133px 0;
}
.delivery_text, .payment_text {
    display: flex;
}
.information_delivery_image {
    width: 366px;
    height: 367px;
}
.information_payment_text {
    width: 544px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #1E1E1EA6;
    padding: 114px 10px 143px 135px;
}
.information_payment_image, .information_payment_image img {
    width: 366px;
    height: 381px;
}
.point {
    padding-right: 8px;
}
.information_image {
    width: 100%;
    max-width: 460px;
    min-width: 366px;
    padding-right: 41px;
}
/*___________________________Корзина(detail.html)________________*/
.cart_page {
    width: 100%;
    padding: 160px 0 0 0;
    background: #FFF;
}
.cart {
    width: 100%;
}
.cart_goods {
    width: 480px;
    padding-right: 84px;
}
.cart_goods_text {
    padding-bottom: 20px;
    text-align: left;
}
.cart_table_columns {
    padding-bottom: 10px;
}
.cart_line {
    width: 100%;
    opacity: 0.2;
    background: rgba(30, 30, 30, 0.65);
    height: 1px;
}
.cart_table {
    padding: 15px 0 5px 0;
}
.cart_img {
    width: 70px;
    height: 88px;
    padding-right: 20px;
    overflow: hidden;
}
.cart_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 100% 100%;
}
.cart_name {
    width: 141px;
    text-align: left;
    padding:0 10px 0 0;
}
.cart_update_delete {
    display: flex;
}
.cart_update {
    width: 88px;
    padding-right: 20px;
    margin: auto 10px auto 0;
}
.cart_total_price {
    width: 100px;
    margin: auto 0;
}
.cart_delete {
    margin: auto 0;
}
.cart_sum {
    width: 100%;
    text-align: right;
    padding-top: 10px;
}
.form_cart {
    width: 554px;
}
.cart_form_text {
    padding-bottom: 10px;
    text-align: left;
}
.cart_quantity {
    padding-right: 20px;
}
.cart_form_input {
    display: flex;
    width: 514px;
    height: 36px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid rgba(30, 30, 30, 0.65);
}
.cart_form_input:focus {
    border: 1px solid #5D5FEF;
}
.cart_form_input:hover {
    border: 1px solid #5D5FEF;
}
.cart_form_input:target {
    outline: 1px solid #5D5FEF;
}
.cart_form_input:focus::placeholder {
  opacity: 0;
}
.cart_result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}
.button_order {
    display: flex;
    width: 260px;
    height: 60px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #8891A8;
    margin: 0 auto;
}
.cart_text {
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 5px;
}
.cart_choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    align-self: stretch;
}
.cart_choices ul {
    padding-bottom: 10px;
}
.choices {
    padding-left: 10px;
}
[type="radio"] {
    width: 18px;
    height: 18px;
    color: #1E1E1E;
}
.left {
    text-align: left;
    padding: 30px 0 20px 0;
}
/*_________________________________________________*/
.success_container {
    width: 100%;
    padding: 300px 320px;
}

.success_text {
    color: #0F9918;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 480px;
    padding: 40px;
    height: 66px;
    margin: auto;

}

.success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: #FFF;
    align-content: center;

}

.form-error {
    color: #E74A3B;
}
/*________________popup_____________*/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 51;
}
.popup.open {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
}
.popup.open .popup_content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}
body.lock {
    overflow: hidden;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
}
.popup_content {
    background-color: #fff;
    color: #000;
    width: 932px;
    height: 100%;
    max-height: 600px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    padding-bottom: 30px;
}
.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-align: right;
}
.popup_text {
    margin: auto;
    padding-top: 20px;
}
.popup_title {
    color: #1E1E1E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
}
.table-sizes {
    margin: auto;
}
.head-table {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.00);
}
.head-table-column {
    width: 94.4px;
    height: 38.4px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.00);
    border: 1px solid rgba(30, 30, 30, 0.20);
    padding: 10px 12px;
    text-align: left;
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}
.table-column {
    width: 94.4px;
    height: 21.2px;
    padding: 10px 12px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.00);
    border-left: 1px solid rgba(30, 30, 30, 0.20);
    border-right: 1px solid rgba(30, 30, 30, 0.20);
    border-bottom: 1px solid rgba(30, 30, 30, 0.20);
    color: #1E1E1E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.question_form_input {
    display: flex;
    height: 36px;
    width: 520px;
    padding: 10px 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border: 1px solid rgba(30, 30, 30, 0.65);
}
.question_text {
    text-align: center;
}
.question_form_input_text {
    display: flex;
    width: 536px;
    height: 156px;
    padding: 12px;
    align-items: flex-start;
    border: 1px solid rgba(30, 30, 30, 0.65);
}
.question_form_input:focus::placeholder {
    opacity: 0;
}
.question_form_input_text:focus::placeholder {
    opacity: 0;
}
input:focus::placeholder {
    padding: 0 0.4em 0.4em 0;
}
.form {
    display: flex;
    width: 680px;
    padding: 30px 0px 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 0 auto;
}
.form_padding {
    padding-right: 10px;
}
.footer_form_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding-top: 20px;
    color: #1E1E1E;
}
.button_footer {
    display: flex;
    height: 40px;
    padding: 12px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #8891A8;
    color: #FFFFFF;
    margin: 0 auto;
}
/*_____________пагинация________________*/

.list-pages {
    width: 100%;
	text-align: center;
	margin: 0 0 100px 0;
}
.list-pages-center {
    display: block;
}
.list-pages ul {
	margin: 50px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 22px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
    width: 50px;
    height: 38px;
    padding: 12px 0 0 0;
    border: 1px solid #8891A8;
    border-radius: 25px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #8891A8;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}
/*______________________________________________________*/

.card_text_center {
    padding-top: 20px;
    text-align: center;
    display: block;
}

.text-danger {
    color: red;
}

.invalid-feedback {
    margin-left:-1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0
}
.slick-list {
    overflow: hidden;
}
/*______________________________________Footer________________________________________________*/
footer {
    background-color: #EEF0F5;
    background-size: 100%;
    min-width: 100%;
    min-height: 498px;
}
.footer {
    height: 498px;
    background: #EEF0F5;
}
.main_footer {
    width: 100%;
    padding: 50px 0 0 0;
}
.main_footer a:hover .footer_logo i:before {
    text-decoration: none;
    color: #8891A8;
}
.main_footer a:focus .footer_logo i:before {
    text-decoration: none;
    color: #8891A8;
}
.footer_blocks {
    height: 320px;
}
.footer_contacts {
    min-width: 657px;
}
.footer_contacts .footer_icon a:hover i:before {
    text-decoration: none;
    color: #8891A8;
}
.footer_contacts .footer_icon a:focus i:before {
    text-decoration: none;
    color: #8891A8;
}
.footer_icon {
    display: flex;
}
.footer_icon div{
    padding: 0 16px;
}
.footer_icon_text {
    padding:0 0 10px 40px;
}
.footer_information {
    width: 100%;
    text-align: left;
}
.footer_information p{
    padding: 0 0 10px 0;
}
.footer_list_button {
    padding-top: 30px;
}
.footer_list_button .shop_button {
    margin: 0;
}
.footer_logo {
    padding-bottom: 20px;
    text-align: center;
}

/*_____________________________________Адаптивы______________________________________________*/
@media (max-width: 1200px) {
    body.lock {
        overflow: hidden;
    }
    ._container {
        width: 100%;
        padding: 0 22px;
    }
    /*_________Шапка______________*/
    .menu_logo {
        padding-left: 5.75%;
    }
    .menu_cart img {
        min-width: 21px;
        min-height: 24px;
    }
    .menu_login {
        display: none;
    }
    header ._container {
        padding: 0 85px;
        width: 100%;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 25px;
        height: 16px;
        z-index: 3;
    }
    .header_burger span {
        position: absolute;
        background-color: #1E1E1E;
        width: 100%;
        height: 2px;
        left: 0;
        top: 8px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: #1E1E1E;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .header_burger.active_burger span {
        transform: scale(0);

    }
    .header_burger.active_burger:before {
        transform: rotate(45deg);
        top: 7px;
    }
    .header_burger.active_burger:after {
        transform: rotate(-45deg);
        bottom: 7px;
    }
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
    }
    .header_menu.active_burger {
        top: 0;
        padding: 149px 0 0 0;
    }
    .header_list {
        display: block;
        margin: auto;
    }
    .header_list>li {
        margin: auto;
        padding: 0 0 20px 0;
    }
    .menu_item {
        max-width: 185px;
    }
    /*__________Основная страница(home)______________*/
    .main {
        padding-top: 160px;
        height: 546px;
    }
    .main_text {
        padding: 0px 0px 60px 0px;
    }
    .main_phrase {
        width: 56%;
        height: 120px;
        font-size: 55px;
        line-height: 60px;
    }
    .main_phrase_two {
        width: 44%;
    }
    .main_phrase_two_text {
        padding:10px 0 15px 0;
    }
    .main_photo{
        height: 362px;
    }

    .icons-3 {
        padding-top: 100px;
        gap: 19px;
    }
    .icons-3_text {
        width: 291px;
        height: 66px;
    }

    .main_category {
        padding-top: 100px;
        height: 665px;
    }
    .main_category_text {
        height: 188px;
    }
    .main_category_text h2{
        font-size: 40px;
    }
    .rectangle {
        margin: 10px auto 30px;
    }
    .text_center {
        padding-top: 0;
        top: 0;
    }
    .text_center .button_transparent {
        position: relative;
        top: 492px
    }
    .main_category_carts {
        width: 100%;
        height: 527px;
        margin: 0 auto;
        background: #FFF;
        padding: 0;
    }
    .cat_1, .cat_3 {
        margin-top: 0;
    }
    .cat_photo {
        min-width: 293px;
        height: 366px;
        padding: 0 19px 10px 0;
    }

    .popular {
        padding: 100px 0;
    }
    .popular_text {
        width: 292px;
    }
    .popular_title {
        font-size: 40px;
    }
    .card {
        width: 292px;
    }
    .card_popular {
        width: 292px;
        margin-right: 20px;
    }
    .card .shop_button {
        width: 252px;
    }
    .card_3 {
        display: none;
    }
    .card img {
        width: 292px;
    }
    .heart ._icon-fullHeart i:before{
        position: relative;
        top: -9px;
        left: 29px;
      }
    /*______________________Карточка товара(product_detail.html)__________________*/
    .card_goods {
        padding: 30px 0 12px 0;
    }
    .card_detail_goods {
        width: 500px;
    }
    .photo_card_flipping {
        padding-right: 20px;
    }
    .photo_card_flipping .slick-arrow.slick-next {
        right: 47px;
    }
    #id_sizes {
        width: 188px
    }
    .number-input-card input[type=number] {
        width: 110px;
    }
    .card-quantity {
        width: 188px;
    }
    .text_card_cat {
        padding-bottom: 10px;
    }
    .card_price {
        font-size: 40px;
        padding-bottom: 20px;
    }
    .card_price_button {
        display: block;
    }
    .card_button {
        width: 292px;
    }
    .card_heart {
        position: relative;
        top: -45px;
        right: -315px;
    }

    /*________________popup_____________*/
    .popup_body {
        min-height: 50%;
        padding-top: 100px;
    }
    /*___________________________Корзина(detail.html)________________*/
    .cart_page {
        padding: 140px 0 0 0;
    }
    .cart_goods {
        width: 424px;
        padding-right: 68px;
    }
    .cart_table_columns {
        display: block;
    }
    .cart_img {
        padding-bottom: 15px;
    }
    .cart_name {
        padding:0 10px 10px 0;
    }
    .form_cart {
        width: 424px;
    }
    .cart_form_input {
        width: 384px;
    }
    .cart_update_delete {
        width: 100%;
    }
    .cart_update {
        width: 70%;
        padding-right: 0;
    }
    /*______________________________(information.html)______________________*/
    .title {
        padding-top: 140px;
        font-size: 40px;
    }
    .rectangle {
        margin: 10px auto 30px;
    }
    .information_about_text {
        width: 604px;
        padding: 0 20px 0 0;
    }
    .information_about_image, .information_about_image img{
        width: 292px;
        height: 349px;
    }
    .information_delivery_text {
        width: 480px;
        padding: 56px 20px 152px 0;
    }
    .information_delivery_image, .information_delivery_image img {
        width: 396px;
        height: 399px;
    }
    .information_payment_text {
        width: 480px;
        padding: 111px 20px 178px 0;
    }
    .information_payment_image, .information_payment_image img {
        width: 396px;
        height: 413px;
    }
    .information_contacts {
        padding: 33px 20px 31px 0;
        width: 376px;
        height: 262px;
    }
    .information_contacts_text {
        width: 100%;
    }
    .information_contacts_image {
        width: 500px;
        height: 326px;
    }
    .information_contacts_image img {
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
        padding-right: 0;
    }
    /*_____________________(product_index.html)_______________________*/
    .main-block_title {
        font-size: 40px;
    }
    .catalog-cards_container {
        grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    }
    .item-catalog-cards_body {
        width: 292px;
    }
    .item-catalog-cards{
        width: 292px;
    }
    .item-catalog-cards_img {
        width: 292px;
        height: 351px;
    }
    .item-catalog-cards_name {
        width: 292px;
    }
    .item-catalog-cards_button {
        width: 252px;
    }
    /*________footer_____________*/
    .footer_contacts {
        min-width: 50%;
    }
    .footer_information p {
        max-width: 461px;
    }

}
@media (max-width: 960px) {
    ._container, header ._container {
        width: 100%;
        padding: 0 18px;
    }
     /*__________Основная страница(home)______________*/
    .main {
        padding-top: 120px;
        height: 699px;
    }
    .main_text {
        display: block;
        padding: 0px 0px 37px 0px;
    }
    .main_phrase {
        margin: 0 auto;
        width: 604px;
        height: 100px;
        font-size: 45px;
        line-height: 50px;
        border-right: 0;
        text-align: center;
        font-feature-settings: 'clig' off, 'liga' off;
        padding: 0 0 15px 0;
    }
    .main_phrase_rectangle {
        border-right: 0;
        width: 88px;
        height: 2px;
        border-radius: 100px;
        background: #1E1E1E;
        margin: 0 auto;
    }
    .main_phrase_two {
        width: 100%;
    }
    .main_phrase_two_text {
        padding: 20px 0 15px 0;
    }
    .main_photo{
        height: 421px;
    }
    .main_photo img {
        object-position: 45% 10%;
    }

    .icons-3 {
        height: 485px;
        position: relative;
    }
    .icons-3-characteristics {
        margin: 0 auto;
    }
    .three {
        position: absolute;
        left: 9%;
        top: 360px;
    }

    .main_category {
        height: 1078px;
    }
    .main_category_text {
        height: 172px;
    }
    .main_category_text h2{
        font-size: 35px;
    }
    .text_center .button_transparent {
        top: 910px
    }
    .main_category_carts {
        height: 833px;
        background: #FFF;
        padding: 0;
    }
    .cat_3 {
        position: relative;
        top: 431px;
        left: -618px;
    }
    .cat_photo {
        padding: 0 17px 10px 0;
    }
    .name {
        padding-left: 30%;
    }

    .popular {
        padding: 100px 0 0 0;
    }
    .popular>ul {
        display: block;
    }
    .popular_text {
        width: 100%;
        margin: 0;
    }
    .popular_title {
        font-size: 35px;
    }
    .bottom_indent_20 {
        padding-bottom: 40px;
    }
    .name_arrow {
        display: none;
    }
    .popular_button.text_center {
        display: block;
        padding: 30px 0 100px;
    }
    .button_popular {
        display: flex;
        width: 150px;
        padding: 12px 24px;
        justify-content: center;
        align-items: center;
        border: 1px solid #1E1E1E;
        margin: 0 auto;
    }
     /*______________________Карточка товара(product_detail.html)__________________*/
    .card_goods {
        display: block;
        padding: 30px 0 48px 0;
    }
    .photo_card_flipping {
        padding-right: 0;
        width: 396px;
        margin: 0 auto;
    }
    .photo_card_flipping .slick-arrow.slick-next {
        right: 27px;
    }
    .card_detail_goods {
        width: 100%;
        padding-top: 30px;
    }
    .text_card_name {
        font-size: 44px;
    }
    #id_sizes {
        width: 292px
    }
    .number-input-card input[type=number] {
        width: 207px;
    }
    .card-quantity {
        width: 292px;
    }
    .card_rectangle {
        width: 604px;
    }
    .card_padding_bottom {
        padding-bottom: 20px;
    }
    .card_price_button {
        display: flex;
    }
    .card_price {
        font-size: 44px;
    }
    .card_button {
        width: 224px;
    }
    .card_heart {
        position: relative;
        top: 0;
        right: 0;
    }
    .card_price_button {
        gap: 37px;
    }
    /*___________________popup__________________*/
    .popup_content {
        width: 100%;
    }

    .form {
        width: 100%;
    }
    /*___________________________Корзина(detail.html)________________*/
    .cart {
        display: block;
    }
    .cart_goods {
        width: 480px;
        padding-right: 0;
        margin: 0 auto;
    }
    .cart_table_columns {
        display: flex;
    }
    .cart_img {
        padding-bottom: 0;
    }
    .cart_name {
        width: 165px;
    }
    .cart_update_delete {
        width: 215px;
    }
    .cart_update {
        width: 62px;
        padding-right: 20px;
    }
    .form_cart {
        width: 480px;
        margin: 0 auto;
    }
    .cart_form_input {
        width: 440px;
    }
    /*______________________________(information.html)______________________*/
    .title {
        padding-top: 120px;
        font-size: 35px;
    }
    .rectangle {
        margin: 10px auto 40px;
    }
    .information {
        display: block;
        padding-bottom: 80px;
    }
    .information_about_text, .information_delivery_text, .information_payment_text {
        width: 100%;
        padding: 0 0 30px;
    }
    .about_text, .delivery_text, .payment_text {
        width: 604px;
        margin: 0 auto;
    }
    .information_about_image, .information_delivery_image, .information_payment_image{
        margin: 0 auto;
    }
    .information_delivery_image, .information_delivery_image img {
        width: 292px;
        height: 295px;
    }
    .information_payment_image, .information_payment_image img {
        width: 292px;
        height: 304px;
    }
    .information_contacts {
        width: 292px;
        padding: 10px 20px 0 0;
        height: 222px;
    }
    .information_contacts_text_title {
        width: 354px;
        position: absolute;
        top: -51px;
        left: 45%;
    }
    .information_contacts_image {
        width: 292px;
        height: 235px;
    }
    .information_contacts_image img{
        height: 235px;
    }
    /*_____________________(product_index.html)_______________________*/
    .main-block_title {
        font-size: 35px;
    }
    .catalog-cards_container {
        margin-bottom: 60px;
    }
    /*_________footer_____________*/
    footer ._container {
        width: 100%;
        padding: 0 18px;
        height: 767px;
    }
    .main_footer>ul {
        display: block;
    }
    .footer_blocks {
         height: 100%;
    }
    .footer_icon {
        margin: 0 auto;
    }
    .footer_icon_text {
        padding: 0 0 10px 0;
        text-align: center;
    }
    .footer_list_button .shop_button {
        margin: 0 auto;
    }
    .footer_information {
        padding-top: 40px;
    }
    .footer_information p{
        margin: 0 auto;
        text-align: center;
        max-width: 604px;
    }
    .footer_logo {
        padding: 30px 0 20px;
    }
}
@media (max-width: 640px) {
    ._container, header ._container {
        width: 100%;
        padding: 0 42px;
    }
    /*_________Шапка______________*/
    .menu_cart_favourites {
        gap: 20px;
    }
    /*__________Основная страница(home)______________*/
    .main {
        padding-top: 110px;
        height: 515px;
    }
    .main_text {
        padding: 0px 0px 35px 0px;
    }
    .main_phrase {
        width: 395px;
        height: 90px;
        font-size: 40px;
        line-height: 45px;
    }
    .main_phrase_two_text {
        padding: 25px 0 5px 0;
    }
    .main_photo{
        height: 254px;
    }

    .icons-3 {
        padding-top: 50px;
        height: 645px;
        display:block;
    }
    .icons-3-characteristics {
        padding-top: 30px;
        width: 100%;
        gap: 10px;
    }
    .icons-3_text {
        width: 395px;
        height: 44px;
    }
    .three {
        position: relative;
        left: 0;
        top: 0;
    }

    .main_category {
        padding-top: 80px;
        height: 782px;
    }
    .rectangle {
        margin: 10px auto 20px;
    }
    .text_center .button_transparent {
        top: 622px
    }
    .main_category_carts {
        height: 562px;
    }
    .main_category_text {
        height: 152px;
    }
    .cat_photo {
        min-width: 188px;
        height: 236px;
        padding: 0 20px 10px 0;
    }
    .name {
        padding-left: 18%;
    }
    .card img {
        width: 188px;
    }
    .cat_3 {
        position: relative;
        top: 291px;
        left: -415px;
    }

    .popular {
        padding: 80px 0 0 0;
    }
    .bottom_indent_20 {
        padding-bottom: 30px;
    }
    .card {
        width: 188px;
    }
    .card_popular {
        width: 188px;
    }
    .card img {
        height: 244px;
    }
    .card .shop_button {
        width: 148px;
    }
    .name_product {
        height: 75px;
        padding-top: 10px;
    }
    .price {
        padding-bottom: 10px;
    }
    .popular_button.text_center {
        display: block;
        padding-bottom: 60px;
    }
    /*______________________Карточка товара(product_detail.html)__________________*/
    .card_goods {
        padding: 30px 0 63px 0;
    }
    .photo_card_flipping .slick-arrow.slick-next {
        right: 20px;
    }
    .text_card_name {
        font-size: 35px;
    }
    .text_card_description {
        padding-bottom: 20px;
    }
    #id_sizes {
        width: 188px
    }
    .number-input-card input[type=number] {
        width: 110px;
    }
    .card-quantity {
        width: 188px;
    }
    .card_padding_bottom {
        padding-bottom: 10px;
    }
    .card_price {
        font-size: 40px;
    }
    .card_price_button {
        display: block;
    }
    .card_button {
        width: 292px;
    }
    .card_heart {
        top: -45px;
        right: -315px;
    }
    /*__________________popup______________*/
    .table-sizes {
        margin: 0;
    }
    .table-column, .head-table-column{
        width: 78px;
    }
    .popup {
        overflow-x: auto;
    }
    .popup_content {
        overflow-x: auto;
    }

    .question_form_input {
        width: 384px;
    }
    .question_form_input_text {
        width: 400px;
    }
    .success_text {
        font-size: 20px;
        width: 320px;
        padding: 20px;
        height: 100px;
    }
    /*___________________________Корзина(detail.html)________________*/
    .cart_goods {
        width: 396px;
    }
    .cart_table_columns {
        display: block;
    }
    .cart_table {
        padding: 15px 0 0 0;
    }
    .cart_img {
        padding-bottom: 15px;
    }
    .cart_update_delete {
        width: 100%;
    }
    .cart_update {
        width: 70%;
        padding-right: 0;
    }
    .form_cart {
        width: 396px;
        padding-top: 30px;
    }
    .cart_form_input {
        width: 356px;
    }
    /*______________________________(information.html)______________________*/
    .information {
        padding-bottom: 60px;
    }
    .rectangle {
        margin: 10px auto 30px;
    }
    .about_text, .delivery_text, .payment_text {
        width: 396px;
    }
    .contacts_information {
        display: block;
    }
    .information_contacts {
        padding: 0 0 30px 0;
    }
    .information_contacts_text_title {
        left: 20%;
    }
    .information_contacts_image {
        margin: 0 auto;
    }
    /*____________________________product_index.html_____________________________*/
    .catalog-cards_container {
        grid-template-columns: repeat(auto-fit, minmax(188px, 1fr));
    }
    .item-catalog-cards_body {
        width: 188px;
    }
    .item-catalog-cards{
        width: 188px;
    }
    .item-catalog-cards_img {
        width: 188px;
        height: 247px;
    }
    .item-catalog-cards_name {
        width: 188px;
        height: 75px;
    }
    .item-catalog-cards_button {
        width: 148px;
    }
    /*_________footer_________*/
    footer ._container {
        width: 100%;
        padding: 0 42px;
        height: 823px;
    }
    .footer_information p{
        max-width: 396px;
    }
    .footer_logo {
        padding: 20px 0 20px;
    }

}
@media (max-width: 480px) {
    ._container, header ._container {
        width: 100%;
        padding: 0 14px;
    }
    .success_text {
        font-size: 18px;
        width: 300px;
        padding: 0;
        height: 100px;
    }
    /*_________Шапка______________*/
    .header {
        height: 90px;
    }
     /*_____Основная страница(home)___*/
    .main {
        padding-top: 140px;
        height: 579px;
    }
    .main_phrase {
        height: 80px;
        font-size: 35px;
        line-height: 40px;
        padding: 0;
    }
    .main_phrase_rectangle {
        display: none;
    }
    .main_phrase_two_text {
        margin: 0 auto;
        width: 292px;
        padding: 20px 0 35px 0;
        font-size: 14px;
    }
    .main_phrase_two_text br{
        display: none;
    }
    .main_photo {
        height: 320px;
    }
    .main_category {
        height: 1498px;
    }
    .main_category_text h2{
        font-size: 30px;
    }

    .icons-3 {
        height: 771px;
    }
    .icons-3-characteristics {
        gap: 20px;
    }
    .icons-3_text {
        width: 292px;
        height: 66px;
    }

    .rectangle {
        margin: 10px auto 27px;
    }
    .text_center .button_transparent {
        top: 1338px
    }
    .main_category_carts {
        height: 1257px;
    }
    .main_category_text {
        height: 173px;
    }
    .main_category_carts>ul {
        display: block;
    }
    .cat_photo {
        min-width: 252px;
        height: 366px;
        padding: 0 0 10px 0;
    }
    .cat_photo img {
        object-position: 50% 10%;
    }
    .name_category {
        padding-bottom: 30px;
    }
    .name {
        padding-left: 33%;
    }
    .cat_3 {
        top: 0;
        left: 0;
    }

    .popular_title {
        font-size: 30px;
    }
    .bottom_indent_20 {
        padding-bottom: 16px;
    }
    .card {
        width: 292px;
    }
    .card_popular {
        width: 292px;
    }
    .card .shop_button {
        width: 272px;
    }
    .card_2 {
        display: none;
    }
    .card img {
        width: 292px;
        height: 341px;
    }
    .price {
        padding-bottom: 20px;
    }
    /*______________________Карточка товара(product_detail.html)__________________*/
    .card_goods {
        padding: 30px 0 81px 0;
    }
    .text_card_name {
        font-size: 30px;
    }
    .photo_card_flipping {
        width: 100%;
    }
    .text_card_cat {
        font-size: 12px;
    }
    .text_card_description {
        font-size: 14px;
    }
    .card_form {
       display: block;
    }
    .card_heart {
        right: -305px;
    }
    /*_________________popup______________*/
    .question_form_input {
        width: 252px;
    }
    .question_form_input_text {
        width: 266px;
    }
    .button_footer {
        width: 292px;
    }
    /*___________________________Корзина(detail.html)________________*/
    .cart_goods, .form_cart {
        width: 292px;
    }
    .cart_form_input,  .button_order {
        width: 252px;
    }
    .cart_total_price {
        width: 140px;
    }
    /*______________________________(information.html)______________________*/
    .information {
        padding-bottom: 80px;
    }
    .title {
        padding-top: 140px;
        font-size: 30px;
    }
    .rectangle {
        margin: 10px auto 40px;
    }
    .about_text, .delivery_text, .payment_text {
        width: 292px;
    }
    .information_contacts {
        padding: 20px 0 40px 0;
    }
    .information_contacts_text_title {
        left: 5px;
        width: 272px;
        text-align: center;
    }
    /*__________________(product_index.html)_____________________*/
    .main-block_phrase {
        display: block;
    }
    .main-block_title {
        font-size: 30px;
    }
    .catalog-cards_container {
        grid-template-columns: repeat(auto-fit, minmax(292px, 1fr));
    }
    .item-catalog-cards {
        margin: 15px auto;
    }
    .item-catalog-cards_body {
        width: 292px;
    }
    .item-catalog-cards {
        width: 292px;
    }
    .item-catalog-cards_img {
        width: 292px;
        height: 351px;
    }
    .item-catalog-cards_name {
        width: 292px;
        height: 50px;
    }
    .item-catalog-cards_button {
        width: 252px;
    }
    .list-pages .page-num, .page-num-selected {
        width: 40px;
        height: 33px;
        padding: 7px 0 0 0;
        border-radius: 20px;
    }
    /*_________footer_________*/
    footer ._container {
        width: 100%;
        padding: 0 14px;
        height: 867px;
    }
    .footer_information p{
        max-width: 291px;
    }
}
@media (max-width: 430px) {
    /*_____Основная страница(home)___*/
    .main_phrase {
        width: 100%;
        font-size: 35px;
    }
}
@media (max-width: 340px) {
    /*_____Основная страница(home)___*/
    .main_phrase {
        font-size: 33px;
    }
    /*______________________Карточка товара(product_detail.html)__________________*/
    .card_heart {
        display: none;
    }
    /*________________popup______*/
    .question_form_input {
        width: 220px;
    }
    .question_form_input_text {
        width: 236px;
    }
    .button_footer {
        width: 260px;
    }
}
@media (max-width: 315px) {
    /*_____Основная страница(home)___*/
    .main_phrase {
        font-size: 28px;
    }
    .main_phrase_two_text {
        width: 100%;
    }
    .card {
        width: 252px;
    }
    .card_popular {
        width: 252px;
    }
    .card .shop_button {
        width: 212px;
    }
     /*___________________________Корзина(detail.html)________________*/
    .cart_goods, .form_cart {
        width: 232px;
    }
    .cart_form_input,  .button_order {
        width: 212px;
    }
    /*______________________________(information.html)______________________*/
    .title {
        font-size: 25px;
    }
    .about_text , .delivery_text, .payment_text{
        width: 232px;
    }
    .information_about_image, .information_delivery_image, .information_delivery_image img {
        width: 232px;
        height: 277px;
    }
    .information_payment_image, .information_payment_image img {
        width: 232px;
        height: 242px;
    }
    .information_contacts_image, .information_contacts_image img {
        width: 232px;
        height: 187px;
    }
    /*__________________(product_index.html)_____________________*/
    .catalog-cards_container {
        grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    }
    .item-catalog-cards_body {
        width: 232px;
    }
    .item-catalog-cards {
        width: 232px;
    }
    .item-catalog-cards_img {
        width: 232px;
        height: 291px;
    }
    .item-catalog-cards_name {
        width: 232px;
    }
    .item-catalog-cards_button {
        width: 192px;
    }
}



