@import "necolas.github.io_normalize.css_8.0.1_normalize.css";
@import "fonts.css";
@import "default.css";


.wrapper {
    max-width: 1118px;
    padding: 0 41px;
    margin: 0 auto;
}
header {
    background-color: #EEF0F5;
    background-size: 100%;
    min-width: 100%;
    min-height: 80px;
}
footer {
    background-color: #EEF0F5;
    background-size: 100%;
    min-width: 100%;
}
input[type='radio']:checked::after {
  background-color: black;
}
input[type="submit" i] {
    border-width: 0;
}
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #EEF0F5;
    z-index: 2;
}
/*.header_list a.parent{*/
/*    margin: 0 20px 0 0;*/
/*}*/
.menu_list li {
    list-style: none;
    position: relative;
}
.menu_list {
    position: relative;
    display: flex;
    /*z-index: 2;*/
    justify-content: space-between;
    height: 80px;
    align-items: center;
    color: #EEF0F5;
}
.menu_list>li {
    display: flex;
    /*margin: 22px 0 0 0;*/
}
.menu_link {
    overflow: hidden;
    position: relative;
    z-index: 2;
}
.header_menu {

}
.header_list {
    display: flex;
    position: relative;
    z-index: 3;
}
.header_list>li {
    display: flex;
    list-style: none;
}
.header_list>li:hover {
    color: #1E1E1E;
}

.header_link {
    color: #1E1E1EA6;
    position: relative;
    margin-bottom: 2px;
    /*z-index: 3;*/
}

.sub-header_list {
    min-width: 219px;
    display: none;
    position: absolute;
    left: 0;
    top: 22px;
    padding: 20px 0 0 28.5px;
}

.sub-header_list>li {
    background-color: #EEF0F5;
}

.sub-header_link {
    color: #1E1E1EA6;
    display: inline-block;
    padding: 0 20px 15px 20px;
}

.menu_logo {
    max-width: 239px;
    left: 0;
    /*padding: 0 143px 0 0;*/
}

.menu_logo img {
    min-width: 103px;
}

.menu_item {
    max-width: 544px;
    padding: 0 0 0 48px;
}

.menu_cart_favourites {
    max-width: 287px;
    right: 0;
    /*padding: 6px 0 0 140px;*/
    gap: 38px;
}

.menu_cart_favourites img {
    min-width: 24px;
}

.menu_arrow {
    display: none;
    position: absolute;
    left: 152px;
    top: 8px;
    width: 0;
    height: 0;
    border-top: 7px solid #1E1E1EA1;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
}

.header_link.active .menu_arrow {
    transform: rotate(-180deg);
}

.header_burger {
    display: none;
}

body.mouse .header_list>li:hover .sub-header_list {
    display: block;
}
body.touch .sub-header_list.open {
    background-color: #FFFFFF;
    display: block;
    position: relative;
    left: 0;
    top: 0;
}
body.touch .submenu {
    background-color: #FFFFFF;
}
body.touch .menu_arrow {
    display: block;
}
body.touch .header_link {
    color: #1E1E1E;
}


@media (max-width: 960px) {
    body.lock {
        overflow: hidden;
    }
    .wrapper {
        width: 100%;
        padding: 0 22px;
    }
    .header_burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .header_burger span {
        position: absolute;
        background-color: #1E1E1E;
        width: 100%;
        height: 2px;
        left: 0;
        top: 8px;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before,
    .header_burger:after {
        content: '';
        background-color: #1E1E1E;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .header_burger:before {
        top: 0;
    }
    .header_burger:after {
        bottom: 0;
    }
    .header_burger.active_burger span {
        transform: scale(0);

    }
    .header_burger.active_burger:before {
        transform: rotate(45deg);
        top: 9px;
    }
    .header_burger.active_burger:after {
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header_menu {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: all 0.3s ease 0s;
        background-color: #FFFFFF;
        padding: 149px 0 0 0;
    }
    .header_menu.active_burger {
        top: 0;
    }
    .header_list {
        display: block;
        margin: auto;
    }
    .header_list>li {
        margin: auto;
        padding: 0 0 20px 0;
    }
    .menu_item {
        max-width: 165px;
    }

}

input[type="number"] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input input[type=number] {
    max-width: 32px;
    padding: 0 5px 5px 5px;
    border: solid #FFFFFF;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    height: 24px;
    text-align: center;
}

.number-input-card {
    padding: 12px 10px 12px 13px;
}

.number-input-card,
.number-input-card * {
    box-sizing: border-box;
}

.number-input-card input[type=number] {
    width: 192px;
    border: #EFF2F6;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.3px;
    height: 26px;
    text-align: center;
    background-color: #EFF2F6;
}

#id_sizes {
    width: 273px;
    height: 50px;
    flex-shrink: 0;
    border: 2px solid rgba(30, 30, 30, 0.20);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 144.444% */
    letter-spacing: -0.3px;
    color: #1E1E1E;
    padding: 12px 10px;

}

ul {
    display:flex;
}

.gaps160 {
    width: 100%;
    height: 160px;
}

.gaps120 {
    width: 100%;
    height: 120px;
}

.gaps80 {
    width: 100%;
    height: 80px;
}
.main {
    width: 100%;
    height: 610px;
}

.main_text {
    padding: 0px 0px 70px 0px;
}

.main_phrase {
    height: 140px;
    width: 648.84px;
    font-size: 65px;
    font-style: normal;
    font-weight: 400;
    line-height: 70px;
    letter-spacing: -2.6px;
    border-right: 2px rgba(30, 30, 30, 0.65) solid;
    text-align: left;
    padding: 0;
}

.main_phrase_two {
    gap: 10px;
    width: 468px;
    text-align: center;
}

.main_button {
    padding: 0 0 0 98px;
}

.main_category {
    width: 1118px;
    height: 869px;
}

.rectangle {
    width: 88px;
    height: 2px;
    border-radius: 100px;
    background: #1E1E1E;
    margin: 10px auto 40px;
}

.heart {
    margin-left: -46px;
    margin-top: 10px;
}

.title {
    width: 1118px;
    text-align: center;
    height: 115px;
    gap: 13px;
}

.main_category_text {
    width: 1118px;
    height: 869px;
    text-align: center;
    gap: 10px;
}

.main_category_carts {
    width: 1119px;
    height: 727px;
    margin-left: -41px;
    margin-top: -695px;
    background: #EEF0F5;
    padding: 48px 40px 0 41px;

}

.main_category_carts img {
    width: 367px;
    height: 460px;
    padding: 0 10px 10px 0;

}

.name_category {
    display: inline-block;
    height: 25px;
    width: 367px;
}

.photo_cat_higher {
    margin-top: -98px;
}

.name {
    display: inline-block;
    width: auto;
    padding-left: 30%;
}

.price {
    padding-bottom: 20px;
}

.name_product {
    width: 272px;
    height: 50px;
    padding-top: 20px;
}

.arrow {
    padding-left: 9px;
    margin-top: 3px;
}
.bottom_indent_20 {
    padding-bottom: 20px;
}

.text_center {
    max-width: 1118px;
    padding-top: 30px;
    margin: 0 auto;
}

.button_transparent {
    display: flex;
    width: 150px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border: 1px solid #1E1E1E;
    margin: 0 auto;
}

.shop_button {
    background: #8891A8;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    -webkit-appearance: button;
    text-align: center;
    color: #ffffff;
    padding: 8px 20px;
    display: flex;
    width: 232px;
    justify-content: center;
    gap: 8px;
}


svg.circle {
  background: #8891A8;
  clip-path: circle(50%);
  height: 96px;
  width: 96px;

}
.icons-3 {
    display:flex;
    gap: 10px;
}
.icons-3-characteristics {
    display:flex;
    width: 366px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-shrink: 0;

}


.font-500-18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #1E1E1E;
}

.font-500-18-grey {
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    color: #1E1E1EA6;
}

.font-500-20 {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    color: #1E1E1E;
}

.font-500-24 {
    color: #1E1E1E;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.font-400-12 {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.4px;
    color: #1E1E1EA6;
}

.font-400-12-black {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.4px;
    color: #1E1E1E;
}

.font-400-14 {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1E1E1EA6;
}

.font-400-14-black {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: #1E1E1E;
}

.font-400-16 {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    text-align: center;
    color: #1E1E1EA6;
}

.font-400-16-black {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%; /* 20.8px */
    color: #1E1E1E;
}

.font-400-16-white {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #FFFFFF;
    text-align: center;
}

.font-400-18 {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.3px;
}

.font-400-18-grey {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: -0.3px;
    color: #1E1E1EA6;
}



.font-400-44 {
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
}

.font-600-24 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    color: #1E1E1E;
    align-self: stretch;
}

a.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400;
    color: #1E1E1EA6;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.popular {
    display: table;
    width: 1118px;
    height: 417px;

}

.popular_text {
    margin: 0  0 218px 0;
    padding-right: 10px;

}

.cards {
    display: table-cell;
    max-width: 1118px;
}

.card {
    padding-right: 10px;
}

.card_goods {
    width: 1118px;
    padding-top: 30px;
    min-width: 0;

}

.cards img {
    width: 272px;
    height: 341px;
}

.cards p {
    width: 272px;
    text-align: center;
}

.card_table_sizes {
    width: 555px;
    height: 20px;
    line-height: 20px; /* 166.667% */
    letter-spacing: -0.4px;
    text-decoration-line: underline;
    padding-bottom: 30px;
    padding-top: 10px;
}

.card_rectangle {
    width: 555px;
    height: 1px;
    background: rgba(30, 30, 30, 0.20);
}

.card_text {
    width: 554px;
    text-align: left;
    padding-bottom: 10px;
}

.card_padding_bottom {
    padding-bottom: 30px;
}

.card_form {
    gap: 9.5px;
}

.card_price_button {
    gap: 20px;
}

.card_label {
    text-align: left;
    padding-bottom: 9px;
}

.card_button {
    display: flex;
    width: 224px;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: #8891A8;
    color: #FFFFFF;
}
.card_price {
    width: 263px;
}

.card_favourites {
    width: 25px;
    padding-top: 13.5px;
}

.card-quantity {
    width: 272px;
    height: 50px;
    flex-shrink: 0;
    background-color: #EFF2F6;
}

.button_flipping_left {
    padding:0 354px 0 21px;

}

.button_flipping {
    margin-top: -211px;
    padding-bottom: 397px;
}

.footer {
    height: 453px;
    background: #EEF0F5;
}

.main_footer {
    width: 1118px;
}

.footer_rectangle {
    width: 1118px;
    height: 0.996px;
    flex-shrink: 0;
    background: rgba(30, 30, 30, 0.20);
    margin: auto;

}

.footer_block1 {
    width: 407px;
    padding: 41px 0 0 0;
}

.footer_block1_logo {
    padding: 0 0 20px 0;
}

.footer_block1_logo img {
    width: 103px;
    height: 36px;
}

.footer_block1_text {
    line-height: 22px;
    text-align: left;
    width: 366px;
    gap: 10px
}

.footer_block1_text p {
    padding: 0 0 10px 0;
}

.footer_list_main {
    padding: 0 0 0 14px;
}
.footer_block_next {
    list-style: none;
    padding: 41px 0px 0 40px;
    width: 794px;
}

.footer_list_main a {
    display: block;
    text-align: -webkit-left;
    text-size-adjust: 100%;
    padding-right: 73px;
}

.footer_list {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    margin-block-end: 10px;
    padding: 20px 0 0 0;
}

.footer_list li a {
    display: block;
    text-align: left;
    padding: 0 0 10px 0;
}

.footer_list_button {
    width: 101px;
    padding: 50px 0 0 427.45px;
}

.footer_logo_networks {
    padding: 31.58px 0;
}

.footer_logo_networks ul {
    gap: 20px;
}

.footer_logo_networks ul li span {
    text-align: right;
    margin-left: 599px;
}

.button_footer {
    background: #8891A8;
    display: flex;
    height: 40px;
    padding: 12px 30px;
    gap: 10px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
}

.text_data {
    width: 80%;
    max-width: 742px;
}

.information {
    width: 1118px;
    gap: 10px;
}

.information_contacts {
    padding: 20px 9px 20px 94px;
    width: 461px;
    height: 262px;
}

.information_contacts_text {
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    color: #1E1E1E;
    width: 461px;
    height: 55px;
}

.information_text {
    width: 742px;
    text-align: left;
    color: rgba(30, 30, 30, 0.65);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 90px;
}

.information_image {
    width: 100%;
    max-width: 460px;
    min-width: 366px;
    padding-right: 41px;
}

.cart_page {
    width: 1200px;
    padding: 38px 320px 99px 320px;
    background: #FFF;
    flex-shrink: 0;
}

.cart {
    display: flex;
    width: 480px;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}

.cart_table {
    padding: 15px 0px;
}

.cart_img {
    width: 70px;
    padding-right: 20px;

}

.cart_name {
    width: 141px;
    text-align: left;
    padding-right: 10px;
}

.cart_update {
    width: 88px;
    padding-right: 20px;
}

.cart_total_price {
    width: 100px;
}

.cart_quantity {
    padding-right: 20px;
}

.cart_line {
    width: 480px;
    opacity: 0.2;
    background: rgba(30, 30, 30, 0.65);
    height: 1px;
}

.cart_goods ul {
    padding-top: 20px;
}

.cart_sum {
    width: 480px;
    text-align: right;
    padding-top: 20px;
}
.cart_form_input {
    display: flex;
    width: 440px;
    height: 36px;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid rgba(30, 30, 30, 0.65);
}

.cart_form_input:focus::placeholder {
  opacity: 0;
}

.cart_result {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.button_order {
    display: flex;
    width: 480px;
    height: 60px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    background: #8891A8;
}

.cart_text {
    text-align: left;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #1E1E1E;
    padding-top: 10px;
    padding-bottom: 5px;
}

.cart_choices {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
    align-self: stretch;
}

.cart_choices ul {
    padding-bottom: 10px;
}

.choices {
    padding-left: 10px;
}
[type="radio"] {
    width: 18px;
    height: 18px;
    color: #1E1E1E;
}

.left {
    text-align: left;
    padding: 30px 0 20px 0;
}

.success_container {
    width: 1200px;
    padding: 300px 320px;
}

.success_text {
    color: #0F9918;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 480px;
    padding: 40px;
    height: 66px;
    margin: auto;

}

.success {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    background: #FFF;
    align-content: center;

}

.form-error {
    color: red;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 51;
}

.popup.open {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
}

.popup.open .popup_content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup.open .popup_content_image {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}


body.lock {
    overflow: hidden;
}

.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    transition: all 0.8s ease 0s;
}

.popup_content {
    background-color: #fff;
    color: #000;
    width: 932px;
    height: 100%;
    max-height: 600px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    padding-bottom: 30px;
}

.popup_content_image {
    background-color: #fff;
    color: #000;
    width: 574px;
    height: 718px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
}

.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
    text-align: right;
}

.popup_text {
    margin: auto;
    padding-top: 20px;
}

.popup_title {
    color: #1E1E1E;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
    width: 846px;
    margin: auto;
}

.popup_question_footer {
    padding-left: 126px;
}

.question_form_input {
    display: flex;
    height: 36px;
    width: 520px;
    padding: 10px 20px;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border: 1px solid rgba(30, 30, 30, 0.65);
}

.question_form_input_text {
    display: flex;
    width: 536px;
    height: 156px;
    padding: 12px;
    align-items: flex-start;
    border: 1px solid rgba(30, 30, 30, 0.65);

}

.question_form_input:focus::placeholder {
    opacity: 0;
}

.question_form_input_text:focus::placeholder {
    opacity: 0;
}

input:focus::placeholder {
    padding-left:0;
    padding-top:0;
    padding-bottom:0.4em;
    padding-right: 0.4em;
}

.form {
    display: flex;
    width: 680px;
    padding: 30px 0px 40px 0px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.form_padding {
    padding-right: 10px;
}

.form_center {
    padding-left: 217.5px;
}

.footer_form_text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
    padding-top: 20px;
    color: #1E1E1E;
}

.table-sizes {
    margin: auto;
}

.head-table {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.00);
}

.head-table-column {
    width: 94.4px;
    height: 38.4px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.00);
    border: 1px solid rgba(30, 30, 30, 0.20);
    padding: 10px 12px;
    text-align: left;
    color: #1E1E1E;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

.table-column {
    width: 94.4px;
    height: 21.2px;
    padding: 10px 12px;
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.00);
    border-left: 1px solid rgba(30, 30, 30, 0.20);
    border-right: 1px solid rgba(30, 30, 30, 0.20);
    border-bottom: 1px solid rgba(30, 30, 30, 0.20);
    color: #1E1E1E;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
}

.list-pages {
    width: 1118px;
	text-align: center;
	margin: 0 0 20px 0;
}

.list-pages-center {
    display: block;
}
.list-pages ul {
	margin: 50px 0 0 0;
	padding: 0;
	list-style: none;
}
.list-pages ul li {
	display: inline-block;
	margin: 0 20px 0 0;
}
.list-pages a {
	color: #000;
	font-size: 22px;
	text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
	display: inline-block;
	width: 60px;
	height: 44px;
	padding: 16px 0 0 0;
	border: 1px solid #d0d0d0;
	border-radius: 30px;
}
.list-pages .page-num:hover {
	box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
	border: none;
	color: #000;
	font-size: 20px;
}
.list-pages .page-num-selected:hover {
	box-shadow: none;
}

.card_text_center {
    padding-top: 20px;
    text-align: center;
    display: block;
}

.text-danger {
    color: red;
}

.invalid-feedback {
    margin-left:-1px;
    border-top-left-radius:0;
    border-bottom-left-radius:0
}

.slick-list {
    overflow: hidden;
}
/* Лента слайдов */
.slick-track{
    display: flex;
    align-items: flex-start;
}

.photo_card_flipping {
    padding-right: 104px;
    min-width: 0;
    position: relative;
}

.photo_card_flipping .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    width: 20px;
    height: 21px;
}

.photo_card_flipping .slick-arrow.slick-prev{
    left: 25px;
    background: white url("../image/chevron_left.png") 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    border: #FFFFFF ;
    border-radius: 50%

}

.photo_card_flipping .slick-arrow.slick-next{
    right: 124px;
    background: white url("../image/chevron_right.png") 50% 50% no-repeat;
    width: 32px;
    height: 32px;
    border: #FFFFFF ;
    border-radius: 50%
}

.photo_card_flipping .slick-disabled {
    opacity: 0.2;
}



