{% extends 'base.html' %}

{% block body %}
    <div class="gaps80"></div>
    <div class="title">
        <div class="font-400-44">{{ title }}</div>
        <div><div class="rectangle"></div></div>
    </div>
    <div class="cards padding">
        <ul>
            {% for category in categories %}
                <a class="card" href="{% url 'category' category.slug %}"><img src="{{ category.photo.url }}">
                    <p class="name_product font-500-18">{{category.name}}</p>
                    <span class="shop_button">Купить</span>
                </a>
            {% endfor %}
        </ul>
    </div>
    {% if categories|length > 8 %}
        <div class="text_center">
            <a class="button_transparent" href="{% url 'cat' %}">Смотреть все</a>
        </div>
    {% endif %}
    <div class="gaps120"></div>
{% endblock body %}