{% load static %}

<div class="_container">
    <div class="main_footer">
        <ul>
            <div class="footer_block1">
                <div class="footer_block1_logo">
                    <span><a href="{% url 'home' %}"><img class="header_logo" src="{% static 'clothes/image/logo.png' %}"></a></span>
                </div>
                <div class="font-400-14 footer_block1_text">
                    <p>
                        Интернет-магазин зарегестророван в&nbsp;Торговом реестре
                        РБ&nbsp;00.00.0000
                    </p>
                    <p>
                        Свидетельство государствееной регистрации № 690872698 от
                        05.06.2023 выдано Логойским райисполкомом
                    </p>
                    <p>
                        Адрес: 223141&nbsp;Республика Беларусь, Минская обл.,
                        г.&nbsp;Логойск, ул.&nbsp;Золотая горка, д.&nbsp;2,
                        кв.&nbsp;10
                    </p>
                    <p>
                        ИП Левко Татьяна Владимировна
                    </p>
                    <p>
                        УНП 690872698
                    </p>
                </div>
            </div>
            <div class="footer_block_next">
                <ul>
                    {% for footer_item in footer_items %}
                    {% if footer_item.get_children %}
                            <li class="footer_list_main font-500-18 footer_{{ footer_item.url }}">
                                <a>{{ footer_item }}</a>

                                <ul class="footer_list">
                                    {% for f_item in footer_item.get_children %}
                                        <li class="font-400-16">
                                            <a href="{% url footer_item.url f_item.url %}">{{ f_item }}</a>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </ul>
        <div class="footer_list_button">
            <a class="shop_button popup-link" href="#popup_form_question">Задать вопрос</a>
        </div>
    </div>
    <div class="footer_rectangle"></div>
    <div class="footer_logo_networks">
        <ul>
            <li class="footer_logo" >
                <a href="https://viber.click/375293474885" target="_blank" rel="nofollow">
                    <img src="{% static 'clothes/image/viber.png' %}">
                </a>
            </li>
            <li class="footer_logo">
                <a href="https://instagram.com/lovelev_store?igshid=MzRlODBiNWFlZA==" target="_blank" rel="nofollow">
                    <img src="{% static 'clothes/image/instagram.png' %}">
                </a>
            </li>
            <div class="footer_logo_text font-400-14">
                Прием заказов и оплата на сайте круглосуточно без выходных
            </div>

        </ul>
    </div>
    {% include 'clothes/popup_form.html' %}
</div>