{% load static %}

<div class="_container">
    <div class="main_footer">
        <ul class="footer_blocks">
            <div class="footer_contacts">
                <ul class="footer_contacts_text">
                    <li class="footer_icon">
                        <a href="tel:80293474885"><div class="_icon-phone"></div></a>
                        <div class="font-500-18">Телефон</div>
                    </li>
                </ul>
                <div class="footer_icon_text">
                    <a href="tel:80293474885"><span class="font-400-18-grey">+375 (29) 347-48-85</span></a>
                </div>
                <ul class="footer_contacts_text">
                    <li class="footer_icon">
                        <a href="#"><div class="_icon-email"></div></a>
                        <div class="font-500-18">Email</div>
                    </li>
                </ul>
                <div class="footer_icon_text">
                    <a href="#"><span class="font-400-18-grey">lovelev_store@mail.ru</span></a>
                </div>
                <ul class="footer_contacts_text">
                    <li class="footer_icon">
                        <a href="https://instagram.com/lovelev_store?igshid=MzRlODBiNWFlZA==" target="_blank" rel="nofollow">
                            <div class="_icon-instagram"></div>
                        </a>
                        <div>
                            <span class="font-500-18">Instagram</span>
                        </div>
                    </li>
                </ul>
                <div class="footer_icon_text">
                   <a href="https://instagram.com/lovelev_store?igshid=MzRlODBiNWFlZA==" target="_blank" rel="nofollow">
                       <span class="font-400-18-grey">lovelev_store</span>
                   </a>
                </div>
                <ul class="footer_contacts_text">
                    <li class="footer_icon">
                        <a href="https://viber.click/375293474885" target="_blank" rel="nofollow">
                            <div class="_icon-viber"></div>
                        </a>
                        <div>
                            <span class="font-500-18">Viber</span>
                        </div>
                    </li>
                </ul>
                <div class="footer_icon_text">
                    <a href="https://viber.click/375293474885" target="_blank" rel="nofollow">
                        <span class="font-400-18-grey">+375 (29) 347-48-85</span>
                    </a>
                </div>
                <div class="footer_list_button">
                    <a class="shop_button popup-link" href="#popup_form_question">Задать вопрос</a>
                </div>
            </div>
            <div class="footer_information font-400-14">
                <p>
                    Интернет-магазин зарегестророван в&nbsp;Торговом реестре
                    РБ&nbsp;00.00.0000
                </p>
                <p>
                    Свидетельство государствееной регистрации № 690872698 от
                    05.06.2023 выдано Логойским райисполкомом
                </p>
                <p>
                    Адрес: 223141&nbsp;Республика Беларусь, Минская обл.,
                    г.&nbsp;Логойск, ул.&nbsp;Золотая горка, д.&nbsp;2,
                    кв.&nbsp;10
                </p>
                <p>
                    ИП Левко Татьяна Владимировна
                </p>
                <p>
                    УНП 690872698
                </p>
            </div>
        </ul>
        <a href="{% url 'home' %}">
            <div class="footer_logo _icon-logo"></div>
        </a>
        <div class="footer_logo_text font-400-14">
            Прием заказов и оплата на сайте круглосуточно без выходных
        </div>
    </div>
    {% include 'clothes/popup_form.html' %}
</div>