{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="_container">
        <div class="main">
            <div>
                <div class="main_text">
                    <h1 class="main_phrase">
                        Меньше одежды — больше комплектов
                    </h1>
                    <div class="main_phrase_rectangle"></div>
                    <div class="main_phrase_two">
                        <div class="font-400-16 main_phrase_two_text">Качественные базовые вещи — отличный выбор<br>
                            для любого случая</div>
                        <div class="main_button">
                            <a class="shop_button" href="{% url 'shop' %}">В магазин</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_photo">
                <a href="{% url 'shop' %}">
                    <img src="{% static 'clothes/image/lovelev_.jpg' %}">
                </a>
            </div>
        </div>
        <div class="icons-3">
            <div class="icons-3-characteristics one">
                <div class="icons-3_circle">
                    <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                        <image x="28.5" y="29" href="{% static 'clothes/image/quality.png' %}" width="40" height="38"/>
                    </svg>
                </div>
                <div class="font-500-18">Качество</div>
                <div class="font-400-14 icons-3_text">
                      <p>Наши вещи будут служить долго и сохранят свой
                          первоначальный вид&nbsp;после&nbsp;многих стирок</p>
                </div>
            </div>
            <div class="icons-3-characteristics two">
                <div class="icons-3_circle">
                    <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                        <image x="28.5" y="29" href="{% static 'clothes/image/style.png' %}" width="40" height="38" />
                    </svg>
                </div>
                <div class="font-500-18">Стиль</div>
                <div class="font-400-14 icons-3_text">
                      <p>Выбирая вещи из нашей коллекции, вы легко создадите
                          стильный образ на&nbsp;каждый день</p>
                </div>
            </div>
            <div class="icons-3-characteristics three">
                <div class="icons-3_circle">
                    <svg class="circle" xmlns="http://www.w3.org/2000/svg">
                        <image x="28.5" y="29" href="{% static 'clothes/image/comfort.png' %}" width="40" height="38" />
                    </svg>
                </div>
                <div class="font-500-18">Комфорт</div>
                <div class="font-400-14 icons-3_text">
                      <p>Вы&nbsp;будете чувствовать себя комфортно,
                          ведь&nbsp;мы&nbsp;используем ткани премиум класса</p>
                </div>
            </div>
        </div>
        <div class="main_category">
            <div class="main_category_text">
                <h2 class="font-400-44">Категории</h2>
                <div><div class="rectangle"></div></div>
                <div class="text_center font-400-16">Создавайте различные образы и сочетания, выбирая наши базовые вещи</div>
                <div class="text_center">
                    <a class="button_transparent" href="{% url 'cat' %}">Смотреть все</a>
                </div>
            </div>
            <div class="main_category_carts">
                <ul class="cat">
                    {% for cat in categories %}
                        <a class="cat_{{ cat.pk }}" href="{% url 'category' cat.slug %}">
                            <div class="cat_photo"><img src="{{ cat.photo.url }}"></div>
                                <div class="name_category">
                                    <ul>
                                        <div class="name font-500-18">{{ cat.name }}</div>
                                        <div class="arrow"><i class="_icon-arrow_right"></i></div>
                                    </ul>
                                </div>
                        </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="popular">
            <ul >
                <div class="popular_text">
                    <a href="{% url 'popular' %}">
                        <div class="popular_title font-400-44">
                            Популярное
                        </div>
                        <div class="rectangle"></div>
                        <div class="bottom_indent_20 font-400-16">
                            Будьте в тренде, выбирайте<br>
                            свой лук!
                        </div>
                        <div class="name_arrow">
                            <div class="name font-500-18">Выбрать</div>
                            <div class="arrow"><i class="_icon-arrow_right"></i></div>
                        </div>
                    </a>
                </div>
                <div class="cards">
                    {% for product in products %}
                            {% for image in product.0.images.all %}
                                {% if image.default %}
                                    <div class="card_{{ product.1 }}">
                                        <div class="card_popular">
                                            <ul>
                                                <div class="card">
                                                    <a href="{% url 'product_detail' product.0.slug %}">
                                                        <img src="{{ image.image.url }}">
                                                    </a>
                                                </div>
                                                {% if product.0.id in favourites.allid  %}
                                                    <div class="heart">
                                                        <a href="{% url 'favourites:favourites_add' product.0.id %}">
                                                            <div class="circle"></div>
                                                            <div class="popular_heart"><i class="_icon-fullHeart"></i></div>
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="heart">
                                                        <a href="{% url 'favourites:favourites_add' product.0.id %}">
                                                            <div class="circle"></div>
                                                            <div class="popular_heart"><i class="_icon-zeroHeart"></i></div>
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </ul>
                                            <div class="card">
                                                <div class="name_product font-500-18"><a href="{% url 'product_detail' product.0.slug %}">{{ product.0.name }}</a></div>
                                                <div class="price font-500-20">{{ product.0.price }} BYN </div>
                                                <div class="button_card"><a class="shop_button" href="{% url 'product_detail' product.0.slug %}">Купить</a></div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                    {% endfor %}
                </div>
                <div class="popular_button text_center">
                    <a class="button_popular" href="{% url 'popular' %}">Смотреть все</a>
                </div>
            </ul>
        </div>
    </div>
{% endblock body %}

