{% extends 'base.html' %}

{% load static %}

{% block body %}
    <div class="_container lock-padding">
        <div class="title">
            <div class="font-400-44">{{ title }}</div>
            <div><div class="rectangle"></div></div>
        </div>
        <ul class="information">
        {% for c in content %}
            {%  if title.name == c.name %}
                {% if c.slug == 'contacts' %}
                    <div class="information_contacts">
                        <ul class="information_contacts_text">
                            <li>
                                <a href="tel:80293474885"><div class="_icon-phone"></div></a>
                            </li>
                            <li>
                                <span class="font-500-18">Телефон</span>
                                <br>
                                <a href="tel:80293474885"><span class="font-400-18-grey">+375 (29) 347-48-85</span></a>
                            </li>
                        </ul>
                        <ul class="information_contacts_text">
                            <li>
                                <a href="#"><div class="_icon-email"></div></a>
                            </li>
                            <li>
                                <span class="font-500-18">Email</span>
                                <br>
                                <a href="#"><span class="font-400-18-grey">lovelev_store@mail.ru</span></a>
                            </li>
                        </ul>
                        <ul class="information_contacts_text">
                            <li>
                                <a href="https://instagram.com/lovelev_store?igshid=MzRlODBiNWFlZA==" target="_blank" rel="nofollow">
                                    <div class="_icon-instagram"></div>
                                </a>
                            </li>
                            <li>
                                <span class="font-500-18">Instagram</span>
                                <br>
                                <a href="https://instagram.com/lovelev_store?igshid=MzRlODBiNWFlZA==" target="_blank" rel="nofollow">
                                    <span class="font-400-18-grey">lovelev_store</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="information_contacts_text">
                            <li>
                                <a href="https://viber.click/375293474885" target="_blank" rel="nofollow">
                                    <div class="_icon-viber"></div>
                                </a>
                            </li>
                            <li>
                                <span class="font-500-18">Viber</span>
                                <br>
                                <a href="https://viber.click/375293474885" target="_blank" rel="nofollow">
                                    <span class="font-400-18-grey">+375 (29) 347-48-85</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="information_contacts_text">
                            <li>
                                <span class="font-400-14">Мы всегда на связи и рады помочь вам с выбором!</span>
                            </li>
                        </ul>
                    </div>
                    <div class="information_image">
                        <img src="{{ c.image.url }}">
                    </div>
                {% else %}
                <div class="text_data">
                    <pre class="information_text">{{ c.text }}</pre>
                </div>
                <div class="information_image">
                    <img src="{{ c.image.url }}">
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
        <div class="gaps120"></div>
    </div>
{% endblock body %}