{% load static %}


<div class="_container">
    <nav class="menu">
        <ul class="menu_list">
            <div class="header_burger">
                    <span></span>
            </div>
            <li class="menu_logo menu">
                <a class="menu_link" href="{% url 'home' %}"><i class="_icon-logo"></i></a>
            </li>
                <nav class="header_menu">
                    <ul class="header_list">
                        {% for menu_item in menu_items %}
                            {% if menu_item.get_children %}
                                <li class="menu_item">
                                    <a class="header_link">{{ menu_item }}<div class="menu_arrow"></div></a>

                                    <ul class="sub-header_list">
                                        {% for m_item in menu_item.get_children %}
                                            <li class="submenu"><a class="sub-header_link" href="{% url menu_item.url m_item.url %}">{{ m_item }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="menu_item"><a class="header_link" href="{% url menu_item.url %}">{{ menu_item }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </nav>
                {% include 'clothes/cart_favourites_views.html' %}
        </ul>
    </nav>
</div>
