{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% load static %}


{% block body %}
    <div class="_container">
        <div class="card_detail">
            <a href="{% url 'category' product.cat.slug %}">
                <div class="_icon-arrow_left"></div>
            </a>
        </div>
        <ul class="card_goods">
            <div class="photo_card_flipping">
                {% for image in product.images.all %}
                    <img src="{{ image.image.url }}">
                {% endfor %}
            </div>
            <div class="card_detail_goods">
                <h2 class="font-400-44 text_card_name">{{ product.name }}</h2>
                <p class="font-500-18-grey text_card_cat">Категория: {{ product.cat }}</p>
                <p class="font-400-18 text_card_description">{{ product.description }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    <ul class="card_form">
                        <div class="card_form_label">
                            <div class="font-500-18 card_label">
                                {{ cart_product_form.sizes.label }}
                            </div>
                            <div>
                            {{ cart_product_form.sizes }}
                            </div>
                        </div>
                        <div class="card_form_label">
                            <div class="font-500-18 card_label">
                                {{ cart_product_form.quantity.label }}
                            </div>
                            <div class="card-quantity">
                                <div class="number-input-card">
                                    <button class="number-minus _icon-minus" type="button" onclick="this.nextElementSibling.stepDown(); this.nextElementSibling.onchange();">
                                    </button>
                                    {{ cart_product_form.quantity }}
                                    <button class="number-plus _icon-plus" type="button" onclick="this.previousElementSibling.stepUp(); this.previousElementSibling.onchange();">
                                    </button>
                                </div>
                            </div>

                        </div>
                        {% csrf_token %}
                    </ul>
                    <div class="font-400-12 card_table_sizes">
                        <a class="popup-link" href="#popup_sizes" title = "Просмотреть таблицу размеров"> Таблица размеров </a>
                    </div>
                    <div class="card_padding_bottom"><div class="card_rectangle"></div></div>
                    <ul class="card_price_button">
                        <li class="font-400-44 card_price">
                            {{ product.price }} BYN
                        </li>
                        <li>
                            <input class="card_button" type="submit" value="Добавить в корзину">
                        </li>
                        <li class="card_favourites">
                            <a href="{% url 'favourites:favourites_add' product.id %}">
                                <div class="card_heart _icon-heart" width="25" height="24"></div>
                            </a>
                        </li>
                    </ul>
                </form>

            </div>
        </ul>
        <div id="popup_sizes" class="popup">
            <a href="#header" class="popup_close close-popup _icon-cross">
            </a>
            <div class="popup_body">
                <div class="popup_content">
                    <div class="popup_text"></div>
                    <div class="popup_title">Таблица размеров</div>
                    <div class="popup_text">{% include 'clothes/modal_sizes.html' %}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="gaps120"></div>
{% endblock body %}
