{% extends 'base.html' %}
{% block title %}{{ product.name }}{% endblock %}

{% load static %}

{% block body %}
    <div class="gaps80"></div>
    <div class="padding">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20" viewBox="0 0 24 20" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23 10C23 9.82321 22.9135 9.65367 22.7594 9.52866C22.6054 9.40366 22.3965 9.33343 22.1786 9.33343H2.80564L7.97539 5.13935C8.12962 5.01418 8.21627 4.84442 8.21627 4.66742C8.21627 4.49041 8.12962 4.32065 7.97539 4.19548C7.82116 4.07032 7.61197 4 7.39385 4C7.17574 4 6.96655 4.07032 6.81232 4.19548L0.24131 9.52807C0.164818 9.58998 0.10413 9.66354 0.0627232 9.74452C0.0213146 9.82551 0 9.91232 0 10C0 10.0877 0.0213146 10.1745 0.0627232 10.2555C0.10413 10.3365 0.164818 10.41 0.24131 10.4719L6.81232 15.8045C6.96655 15.9297 7.17574 16 7.39385 16C7.61197 16 7.82116 15.9297 7.97539 15.8045C8.12962 15.6794 8.21627 15.5096 8.21627 15.3326C8.21627 15.1556 8.12962 14.9858 7.97539 14.8607L2.80564 10.6666H22.1786C22.3965 10.6666 22.6054 10.5963 22.7594 10.4713C22.9135 10.3463 23 10.1768 23 10Z" fill="#1E1E1E"/>
            </svg>
        </div>
        <ul class="card_goods">
            <div class="photo_card_flipping">
                {% for image in product.images.all %}
                    <a href="#">
                        <img src="{{ image.image.url }}" width="460" height="454">
                    </a>
                {% endfor %}
            </div>
            <div>
                <h2 class="font-400-44">{{ product.name }}</h2>
                <p class="font-500-18">Категория: {{ product.cat }}</p>
                <p class="font-400-18">{{ product.description }}</p>
                <form action="{% url 'cart:cart_add' product.id %}" method="post">
                    <ul>
                        <div>
                            <div>
                                {{ cart_product_form.sizes.label }}
                            </div>
                            {{ cart_product_form.sizes }}
                        </div>
                        <div>
                            <div>
                                {{ cart_product_form.quantity.label }}
                            </div>
{#                            <button value="-" class="minus">-</button>#}
                            {{ cart_product_form.quantity }}
{#                            <button value="+" class="plus">+</button>#}
                        </div>
                        {% csrf_token %}
                    </ul>
                    <ul>
                        <li class="font-400-44">
                            {{ product.price }} BYN
                        </li>
                        <li>
                            <input class="shop_button" type="submit" value="Добавить в корзину">
                        </li>
                    </ul>
                </form>

            </div>
        </ul>
        <div class="button_flipping">
            <button class="button_flipping_left">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                    <circle cx="16" cy="16" r="16" fill="white"/>
                    <image x="4" y="6" href="{% static 'clothes/image/chevron_left.png' %}" width="20" height="21" />
                </svg>
            </button>
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="33" viewBox="0 0 32 33" fill="none">
                    <circle cx="16" cy="16" r="16" fill="white"/>
                    <image x="7" y="5" href="{% static 'clothes/image/chevron_right.png' %}" width="20" height="21" />
                </svg>
            </button>
        </div>
    </div>
{% endblock body %}
